<center>

<h1>Welcome to Nicsena Express Logger!</h1>

<h3>By going to URLs like /whatismyip (it will show your ip address), etc. - It will log your ip address and your user-agent, but you can disable that in the server file</h3>
    
</center>>